# This is Git's per-user configuration file.
[user]
	name = velechva
	email = vic.vele@gmail.com
[core]
	excludesfile = /Users/victorvelechosky/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/victorvelechosky/.stCommitMsg
[init]
	defaultBranch = main
